<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Eat-Da-Burger</h1>
            <p class="lead">Order your own burger, or devour our recommended burgers.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="title">
                <h2>Ready to be devoured!</h2>
            </div>
            <div class="ready-burgers">

            </div>
        </div>


        <div class="col-6">
            <div class="title">
                <h2>Devoured! YUMMMM!</h2>
            </div>
            <div class="ready-burgers">

            </div>
        </div>

    </div>


    <div class="row">
        <div class="title" align="center">
            <h2>Build your own burger!</h2>
        </div>
        <div align="center">
            <form>
                <div>
                    <textarea class="form-control" id="new-burger" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</div>
